<div class="sidebar-mini">
  <div class="login-box">
    <div class="login-logo">
      <a routerLink="/login"><b>Angular</b>Chat</a>
    </div>
    <!-- /.login-logo -->
    <div class="box login-box-body">
      <p class="login-box-msg">Sign in to start your session</p>
      <form #loginForm="ngForm" (ngSubmit)="submit(loginForm.value)">
        <div class="form-group has-feedback">
          <input type="email" [pattern]="pattern" class="form-control" [(ngModel)]="dataSet.email" [value]="dataSet.email" #email="ngModel"
            name="email" required placeholder="Email">
          <span [style.color]="!email.pristine && email.invalid ? 'red' : '#ccc'" class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="dataSet.password" [value]="dataSet.password"
            name="password" #password="ngModel" required>
          <span [style.color]="!password.pristine && password.invalid ? 'red' : '#ccc'" class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary btn-block btn-flat">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <!--<div class="social-auth-links text-center">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
        Facebook</a>
        <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
        Google+</a>
      </div>-->
      <!-- /.social-auth-links -->

      <a [routerLink]="'/register'" class="text-center">Register a new membership</a>
      <div class="row">
        <div class="col-xs-12">
          <a (click)="openForgetPassword()" style="cursor: pointer" class="text-center">Forget password</a>
        </div>
        <!-- /.col -->
      </div>
      <!--Overlay loader-->
      <app-overlay-loader [isLoading]="isLoading"></app-overlay-loader>
    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->


  <div class="modal" role="dialog" [ngStyle]="{display: forgetPassword}">
    <div class="modal-dialog" role="document">
      <form #forgetForm="ngForm" (ngSubmit)="forgetPasswordSubmit(forgetForm.value)">
        <div class="modal-content box">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closePassword()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Forgot password</h4>
          </div>
          <div class="modal-body">
            <div class="form-group has-feedback">
              <input type="email" [pattern]="pattern" class="form-control" [(ngModel)]="forgetPasswordDataSet.email" [value]="forgetPasswordDataSet.email" #email="ngModel"
                name="email" required placeholder="Email">
              <span [style.color]="!email.pristine && email.invalid ? 'red' : '#ccc'" class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closePassword()">Close</button>
            <button type="submit" [disabled]="forgetForm.invalid" class="btn btn-primary">Send</button>
          </div>

          <!--Overlay loader-->
          <app-overlay-loader [isLoading]="isForgotPasswordRequestLoading"></app-overlay-loader>
        </div>
        <!-- /.modal-content -->
      </form>
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>